header{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid red;
    width: 20%;
    margin:auto;
    text-align: center;
}
